# Ignore all files in the .idea directory
.idea/
.DS_Store/

.ipynb_checkpoints/

mycrawler/mycrawler/spiders/__pycache__/
crawleroutput/

# Ignore specific Jupyter notebooks
Rania_Khoury_EDA.ipynb
Rania_Khoury_Learning_Task.ipynb